financedata/src/main/mule/financedata.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c65d4323-9eec-47c3-a30d-8e47a1a4d752" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e10df3ac-9495-4f78-82db-c5126467140b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="welcome123" database="world" />
	</db:config>
	<flow name="financedataFlow" doc:id="4622270a-ac0b-4012-b053-7a29e19a9591" >
		<http:listener doc:name="Listener" doc:id="c88ae41f-e085-41f2-8c0c-e18d4373f397" config-ref="HTTP_Listener_config" path="/finance"/>
		<db:insert doc:name="Insert" doc:id="3ba77b4c-94ee-4d02-86d7-7d7be31eec71" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into finance(id,name,Location)values(:id,:name,:Location)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:payload.id,
	name:payload.name,
	Location:payload.location
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="17d05ee3-24e5-49ed-9371-f998a94b4790" message="number of records displayed:#[payload.affectedRows]"/>
		<ee:transform doc:name="Transform Message" doc:id="01c08d20-a0f9-4d13-b731-267de3b5a5bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"number of record displayed": payload.affectedRows
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
